.addQuestionForm {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #aec3b0;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.formGroup input,
.formGroup button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.formGroup button {
  background-color: #598392;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formGroup button:hover {
  background-color: #124559;
}